body {
	color: black;
	background: lightblue;
	font-size: small;
	font-weight: normal;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	box-sizing: border-box;
}

* {
	position: relative;
}
*:first-letter {
	text-transform: uppercase;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration-line: none;
	color: black;
}

body > * {
	padding: 1.5em 20%;
}

@media only screen and (max-width: 848px) {
	body > * {
		padding-left: 5%;
		padding-right: 5%;
	}
}
@media only screen and (max-width: 614px) {
	body > * {
		padding-left: 10%;
		padding-right: 10%;
	}
}
@media only screen and (max-width: 305px) {
	body > * {
		padding-left: 0;
		padding-right: 0;
	}
}

body > * + * {
	border-top: black 1px solid;
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.bluer {
	background: cornflowerblue;
}

img {
	max-width: 100%;
}

/*----------------------------header-----------------------------------*/

#logo__frame {
	width: auto;
	max-width: 100%;
	max-height: 120px;
	overflow: hidden;
}

header{
	align-items: center;
}
header > img {
	display: block;
}

nav > * {
	align-items: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

ul {
	display: none;
	position: absolute;
	top: 3em;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: grey;
	width: 100%;
}

li {
	border-bottom: 1px black solid;
	padding: 1em;
}

li:nth-child(2n) {
background-color: white;
color: red;
}

li:hover {
	background-color: chartreuse;
}
div:hover > ul {
	display: block;
	z-index: 1;
}

@media only screen and (min-width: 615px) {
	h4 + span {
		height: 0;
		width: 0;
		border: solid white;
		border-width: 0 0.1em 0.1em 0;
		display: inline-block;
		padding: 0.15em;
		transform: translateX(0.5em) rotate(45deg);
	}
}

@media only screen and (max-width: 614px){
	nav > * {
		border-top: white 1px solid;
		width: 100%;
	}
	ul {
		left: 0;
	}
	h4 {
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 0;
	}
	li {
		border-bottom: unset;
	}
	h4 + span {
		width: 0;
		height: 0;
		border: 0.4em solid transparent;
		border-top-color: black;
	}
}

/*----------------------------carousel---------------------------------*/

#carousel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

#carousel img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
}
#carousel img:first-of-type {
	opacity: 1;
	position: relative;
}

#carousel span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: white;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
@media only screen and (max-width: 848px) {
	#carousel span {
		display: none;
	}
}

#carousel div button{
	background-image: url("../src/nav_arrows.png");
	position: absolute;
	left: 1em;
	top: 50%;
	width: 45px;
	height: 45px;
	opacity: 0.3;
	border-radius: 22.5px;
	border: none;
}
#carousel div button:nth-of-type(2) {
	left: unset;
	right: 1em;
	background-position: 45px;
}

#carousel div:nth-child(2) {
	justify-content: center;
}

input {
	display: none;
}

input + label {
	display: inline-flex;
	margin: 10px;
	padding: 12px;
	background: url("../src/radio_buttons.png");
}

input:checked + label {
	background: url("../src/radio_buttons.png") 0 -60px;
}

/*----------------------------main-------------------------------------*/

main {
	background-color: white;
}

main h2 {
	border-bottom: grey 1px solid;
	width: 100%;
	padding-bottom: 10px;
	word-break: break-all;
}

article {
	flex-basis: 32%;
}

article div {
	background-color: blueviolet;
	padding: 10px;
}

@media only screen and (max-width: 848px){
	article {
		flex-basis: 100%;
	}
}

article div > h3 {
	flex-basis: calc(100% - 100px);
}

article a {
	color: red;
}


.dest__frame {
	flex-basis: 32%;
}

#destinations img {
	border: 1px solid grey;
	padding: 4px;
	min-height: 140px;
	width: 100%;
}

#destinations button{
	position: absolute;
	background-image: url("../src/left_arrows.png");
	opacity: 0.3;
	height: 22px;
	width: 22px;
	border-radius: 11px;
	border: none;
	top: 50%;
	left: -30px;
}
#destinations button:nth-of-type(2) {
	background-image: url("../src/right_arrows.png");
	left: unset;
	right: -30px;
}

@media only screen and (max-width: 848px){
	#destinations button {
		top: 40%
	}
	#destinations button:nth-of-type(1){
		display: none;
	}
}

@media only screen and (max-width: 614px) {
	.dest__frame {
		flex-basis: 100%;
		display: none;
	}
	.dest__frame:first-of-type{
		display: unset;
	}
	#destinations button {
		top: 30%;
	}
}

@media only screen and (max-width: 305px){
	#destinations button {
		display: none;
	}
}

/*--------------------------us-------------------------------------*/

#us h2 {
	font-weight: normal;
	border-bottom: 1px solid grey;
	width: 100%;
	padding-bottom: 10px;
	text-transform: capitalize;
}

@media only screen and (min-width: 615px){
	#us .flex-row > * {
		flex-basis: 47%;
	}
}

#us img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#us button {
	color: white;
	font-size: medium;
	background-color: green;
	border-radius: 5px;
	border: black 1px solid;
	padding:10px 20px;
}

#us button:hover {
	background-color: lightgreen;
	color: black;
}

/*----------------------------footer-----------------------------------*/

footer > div {
	font-weight: bold;
}

footer a {
	margin-right: 5%;
}

small {
	color: grey;
	display: inline-block;
	margin-top: 2em;
	margin-bottom: 2em;
}